
@import '../reset';

// Email CSS Start
body {
    margin-left: 0 auto;
    text-align: center;
    width: 100%;
}

.main-container {
    text-align: center;
    display: table;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;


    .main-column {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .half { width: 50%;}
}

.header-main {
    width: 100%;

    .welcome { text-align: left;}

    .browser { text-align: right;}
}
